<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailKit" version="2.10.1" targetFramework="net46" />
  <package id="MimeKit" version="2.10.1" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net46" />
  <package id="StarMicronics.StarIO.Desktop" version="2.7.0" targetFramework="net46" />
  <package id="StarMicronics.StarIOExtension.Desktop" version="1.7.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="Topshelf" version="4.3.0" targetFramework="net46" />
</packages>